.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid #35b8be;
  padding: 5px;

  &__slider {
    display: flex;
    align-items: center;
    height: 10vh;
    overflow-x: auto;
    padding-bottom: 10px;
  }

  &__item {
    position: relative;
    height: 100%;
    width: auto;
    min-width: 100px;
    border-radius: 10%;
    margin-right: 10px;
    border: 1px solid gainsboro;

    img {
      border-radius: 10%;
      height: 100%;
      width: auto;
    }

    h2 {
      background-color: rgba(255, 255, 255, 0.192);
      position: absolute;
      top: 0px;
    }

    &:hover {
      border: 1px solid black;

      h2 {
        display: none;
      }
    }

    &--draggable {
      border: 2px solid rgb(0, 255, 110);

      &:hover {
        border: 2px solid rgb(0, 255, 110);
      }
    }

    &--add {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-width: 70px;
      padding: 3px;
      margin-right: 0;

      .add-text {
        width: 65px;
      }
    }
  }
}

.add-icon {
  border: 2px solid lightgrey;
  background-color: #fff;
  font-size: 16px;
  height: 2.5em;
  width: 2.5em;
  border-radius: 999px;
  position: relative;

  &:after,
  &:before {
    content: "";
    display: block;
    background-color: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:before {
    height: 1em;
    width: 0.2em;
  }

  &:after {
    height: 0.2em;
    width: 1em;
  }
}

.close-icon {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 32px;
  height: 32px;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }
  &:before,
  &:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

@media only screen and (max-width: 480px) {
  .form {
    &__item {
      &--add {
        .add-text {
          display: none;
        }
      }
    }
  }
}
