.sort {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 400px;

  .button {
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

    &--active {
      color: blue;
    }
  }
}
