.product-details {
  background-color: #ebfafb;
  border-radius: 30px;
  padding: 30px;
  margin: 5px;

  &__wrap {
    display: flex;
    justify-content: center;
  }

  &__gallery {
    flex: 0 2 50%;
    height: 100%;
  }

  &__about {
    flex: 0 2 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    height: calc(100% - (10px * 2));
    text-align: start;

    .about {
      display: table;
    }

    .tr {
      display: table-row;
      margin-bottom: 10px;
    }

    .td {
      display: table-cell;
    }

    .title {
      color: blue;
    }

    .price {
      color: goldenrod;
      font-size: large;
    }

    .tech {
      margin-top: 30px;
    }

    .author {
      margin-top: 20px;
      font-size: large;
      color: blue;
    }
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__selected {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 420px;
    margin: 5px;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &__slider {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;

    .slider_item {
      max-width: 25%;
      margin: 0px 3px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}

@media only screen and (max-width: 787px) {
  .product-details {
    &__wrap {
      flex-direction: column;
    }
  }
}
